{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
       <title>{% block title %}Base{% endblock %}</title>
       <link rel="stylesheet" href="{% static 'quotes/css/styles.css' %}">
    </head>

    <body>
        <!-- Contain page specific content -->
        <nav>
            <ul>
                <li><a href="{% url 'quote_page' %}">Quote of The Day</a></li>
                <li><a href="{% url 'show_all_page' %}">Show All</a></li>
                <li><a href="{% url 'about_page' %}">About</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
            <p>Copyright ©2025 | Designed by Decheng Zheng</p>
        </footer>
    </body>
</html>