{% extends 'quotes/base.html' %}
{% block title %}About{% endblock %}

    {% block content %}
    <div class="quote-container" style="max-width: 860px;">
        <h1 class="quote-title">About Steve Jobs</h1>
        
        <div class="quote-content">
            <div class="quote-text">
                <p>
                    Welcome to the <a href="https://en.wikipedia.org/wiki/Steve_Jobs" target="_blank">Steve Jobs</a> Quote Collection, a curated selection of inspiring words from one of technology's most influential innovators. This project showcases memorable quotes that capture Steve Jobs' philosophy on innovation, design, and life. <br> <br>

                    Steve Jobs was an American entrepreneur, business magnate, and inventor who co-founded Apple Inc. He was widely recognized for his role in transforming the technology industry and shaping the way we interact with computers, music, and mobile devices. Jobs' vision and creativity have left a lasting impact on the world, inspiring generations of entrepreneurs, designers, and dreamers.
                </p>
            </div>
            
        </div>
    </div>
    {% endblock %}